<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>indexPath-row-0-section-1</key>
	<dict>
		<key>c1</key>
		<string>19</string>
		<key>c12</key>
		<string>23217ABF62CFD1A37B72E0221DBC1782-cs62</string>
		<key>c2</key>
		<string>6036016</string>
		<key>name</key>
		<string>UINavigationController</string>
		<key>ns_ap_an</key>
		<string>SRGIntegrationLayerDataProvider Demo iOS</string>
		<key>ns_ap_ar</key>
		<string>x86_64_h</string>
		<key>ns_ap_bi</key>
		<string>ch.srgssr.SRGIntegrationLayerDataProvider-Demo</string>
		<key>ns_ap_cs</key>
		<string>39</string>
		<key>ns_ap_device</key>
		<string>x86_64</string>
		<key>ns_ap_ec</key>
		<string>2</string>
		<key>ns_ap_ev</key>
		<string>hidden</string>
		<key>ns_ap_id</key>
		<string>1434362327967</string>
		<key>ns_ap_lang</key>
		<string>en</string>
		<key>ns_ap_ot</key>
		<string>pt</string>
		<key>ns_ap_pfm</key>
		<string>ios</string>
		<key>ns_ap_pfv</key>
		<string>8.3</string>
		<key>ns_ap_pn</key>
		<string>ios</string>
		<key>ns_ap_pv</key>
		<string>8.3</string>
		<key>ns_ap_res</key>
		<string>375x667</string>
		<key>ns_ap_sv</key>
		<string>3.1502.26</string>
		<key>ns_ap_ver</key>
		<string>1.0</string>
		<key>ns_nc</key>
		<string>1</string>
		<key>ns_radio</key>
		<string>wifi</string>
		<key>ns_site</key>
		<string>mainsite</string>
		<key>ns_st_airplay</key>
		<string>0</string>
		<key>ns_st_bp</key>
		<string>922</string>
		<key>ns_st_br</key>
		<string>10843337.86241243</string>
		<key>ns_st_bt</key>
		<string>922</string>
		<key>ns_st_ci</key>
		<string>6776383</string>
		<key>ns_st_cl</key>
		<string>938200</string>
		<key>ns_st_cn</key>
		<string>1</string>
		<key>ns_st_cs</key>
		<string>375x211</string>
		<key>ns_st_cu</key>
		<string>http://stream-i.rts.ch/i/geopolitis/2015/geopolitis_20150523_full_f_858762-,101,701,1201,2201,k.mp4.csmil/master.m3u8</string>
		<key>ns_st_dt</key>
		<string>2015-05-23</string>
		<key>ns_st_ec</key>
		<string>1</string>
		<key>ns_st_el</key>
		<string>938200</string>
		<key>ns_st_ep</key>
		<string>Réfugiés érythréens: pourquoi une fuite aussi m...</string>
		<key>ns_st_ev</key>
		<string>play</string>
		<key>ns_st_id</key>
		<string>1434362329113_1</string>
		<key>ns_st_it</key>
		<string>c</string>
		<key>ns_st_li</key>
		<string>0</string>
		<key>ns_st_mp</key>
		<string>RTSMediaPlayer</string>
		<key>ns_st_mv</key>
		<string>0.0.2</string>
		<key>ns_st_pb</key>
		<string>1</string>
		<key>ns_st_pl</key>
		<string>Geopolitis</string>
		<key>ns_st_pn</key>
		<string>1</string>
		<key>ns_st_po</key>
		<string>104</string>
		<key>ns_st_pr</key>
		<string>Geopolitis STAT_DATE_PREPOSITION 23.05.2015</string>
		<key>ns_st_pv</key>
		<string>0.0.1</string>
		<key>ns_st_sg</key>
		<string>fit-a</string>
		<key>ns_st_sp</key>
		<string>1</string>
		<key>ns_st_sq</key>
		<string>1</string>
		<key>ns_st_sv</key>
		<string>4.1502.26</string>
		<key>ns_st_tp</key>
		<string>1</string>
		<key>ns_st_ty</key>
		<string>Video</string>
		<key>ns_st_ub</key>
		<string>0</string>
		<key>ns_st_vo</key>
		<string>100</string>
		<key>ns_st_ws</key>
		<string>norm</string>
		<key>ns_ts</key>
		<string>1434362330049</string>
		<key>ns_type</key>
		<string>hidden</string>
		<key>ns_vsite</key>
		<string>rts-app-test-v</string>
		<key>srg_ap_push</key>
		<string>0</string>
		<key>srg_c1</key>
		<string>full</string>
		<key>srg_c2</key>
		<string>video_emissions_geopolitis</string>
		<key>srg_c3</key>
		<string>RTS Un</string>
		<key>srg_mgeobl</key>
		<string>false</string>
		<key>srg_mqual</key>
		<string>hd</string>
		<key>srg_plid</key>
		<string>1730665</string>
		<key>srg_pr_id</key>
		<string>6703488</string>
		<key>srg_ptype</key>
		<string>p_app_ios</string>
		<key>srg_unit</key>
		<string>RTS</string>
		<key>srg_unit_c</key>
		<string>RTS</string>
	</dict>
</dict>
</plist>
